body{

    font-family: 'Poppins', sans-serif;
}
h1{

    font-size: 50px;
}
.gradient{

    color:orange;
}
.paragraph{

    margin-right:0%;
}
section{

    display: flex;
}
.half-width{

    width:50%;
    padding: 5%;
}
.half-width img{
    padding-top: 7%;
    width:80%;
    padding-left:15%;
}
a{
    text-decoration:none;
    color:white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}